.vs
Authentication/bin
Authentication/obj

Core/.vs
Core/bin
Core/obj

SHOP.API/Logs
SHOP.API/obj
SHOP.API/bin

SHOP.Infrastructure/obj
SHOP.Infrastructure/bin

SHOP.SHOP.WebApp/obj
SHOP.SHOP.WebApp/bin